#simongame{
  background-color: #011F3F;
  padding-bottom: 60px;
  padding-top:10px;
  text-align: center;
}


#start-button{
  color:#011F3F;
  border: 2px solid #011F3F;
  background-color: #011F3F;
  margin-top: 2%;
}

#start-button-text{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;

}
#level-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

/* .fluid-container {
  display: block;
  width: 50%;
  margin: auto;

} */

.btncolor {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.title-description{
  margin-right: 1px;
}
